.git
.results
scripts
*Dockerfile*
node_modules
.env

node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.next
*.swp
/scripts

.turbo

# Ignore development files
.next
node_modules
.env*

# Ignore version control files
.git
.gitignore

# Ignore build output
build
dist
coverage

# Ignore editor files
.vscode
.idea

# Ignore macOS files
.DS_Store

# Ignore log files
*.log
out/