{
  "printWidth": 100,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
