@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.57 0.20 283.08);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.82 0.07 249.35);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.82 0.02 91.62);
  --muted-foreground: oklch(0.54 0 0);
  --accent: oklch(0.65 0.06 117.43);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.87 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.57 0.20 283.08);
  --chart-1: oklch(0.57 0.20 283.08);
  --chart-2: oklch(0.53 0.17 314.65);
  --chart-3: oklch(0.34 0.18 301.68);
  --chart-4: oklch(0.67 0.14 261.34);
  --chart-5: oklch(0.59 0.10 245.74);
  --radius: 0.5rem;
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.57 0.20 283.08);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.65 0.06 117.43);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.87 0 0);
  --sidebar-ring: oklch(0.57 0.20 283.08);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 5px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Montserrat, sans-serif;
  --font-mono: Source Code Pro, monospace;
  --font-serif: Playfair Display, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --background: oklch(0.23 0.01 264.29);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.32 0.01 223.67);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.32 0.01 223.67);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.57 0.20 283.08);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.34 0.18 301.68);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.39 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.67 0.14 261.34);
  --accent-foreground: oklch(0.92 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.39 0 0);
  --input: oklch(0.39 0 0);
  --ring: oklch(0.57 0.20 283.08);
  --chart-1: oklch(0.57 0.20 283.08);
  --chart-2: oklch(0.53 0.17 314.65);
  --chart-3: oklch(0.34 0.18 301.68);
  --chart-4: oklch(0.67 0.14 261.34);
  --chart-5: oklch(0.59 0.10 245.74);
  --radius: 0.5rem;
  --sidebar: oklch(0.23 0.01 264.29);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: oklch(0.57 0.20 283.08);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.67 0.14 261.34);
  --sidebar-accent-foreground: oklch(0.92 0 0);
  --sidebar-border: oklch(0.39 0 0);
  --sidebar-ring: oklch(0.57 0.20 283.08);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 5px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}